extends layout

block mainContent
		div.mainTitle
			h1 CerberusRPC

		div.mainButtons
			div.buttonRow
				a(name="button1" href="/planAccion")
					img(src="/img/boton.png")
					span Plan Acción
				a(name="button2" href="/oci")
					img(src="/img/boton.png")
					span OCI
			div.buttonRow
				a(name="button3" href="/mapaRiesgos")
					img(src="/img/boton.png")
					span Mapa de Riesgos
				a(name="button4" href="/auditorias")
					img(src="/img/boton.png")
					span Auditorias y Controles
			div.buttonRow
				a(name="button5" href="/protocolos")
					img(src="/img/boton.png")
					span Protocolos Vigentes
				a(name="button6" href="/canalEtico")
					img(src="/img/boton.png")
					span Canal Ético
			div.buttonRow
				a(name="button7" href="/registros")
					img(src="/img/boton.png")
					span Registros
				a(name="button8" href="/formacion")
					img(src="/img/boton.png")
					span Formación
			div.buttonRow
				a(name="button9" href="/gestion")
					img(src="/img/boton.png")
					span Gestión Expedientes
				a(name="button10" href="/agendaRpc")
					img(src="/img/boton.png")
					span Agenda RPC
			div.buttonRow
				a(name="button11" href="/plantillas")
					img(src="/img/boton.png")
					span Plantillas
				a(name="button12" href="/atenuantes")
					img(src="/img/boton.png")
					span Atenuantes Gestión


