a(href="/planAccion") Plan Acción
a(href="/oci") OCI
a(href="/mapaRiesgos") Mapa de Riesgos
a(href="/auditorias") Auditorias y Controles
a(href="/protocolos") Protocolos Vigentes
a(href="/canalEtico") Canal Ético
a(href="/registros") Registros
a(href="/formacion") Formación
a(href="/gestion") Gestión Expedientes
a(href="/agendaRpc") Agenda RPC
a(href="/plantillas") Plantillas
a(href="/atenuantes") Atenuantes Gestión
