extends layout

block mainContent
  div.mainContent
  h2 Oficina de Control Interno
  ul.tabs(data-tab, id="tabsOci")
    li.tab-title.active#oci_estatutos
      a(href="#oci_estatutos") Estatutos
    li.tab-title#oci_personal
      a(href="#oci_personal") Personal
    li.tab-title#oci_actasreuniones
      a(href="#oci_actasreuniones") Actas Reuniones
    li.tab-title#oci_memoria
      a(href="#oci_memoria") Memoria
    li.tab-title#oci_scope
      a(href="#oci_scope") Scope
  div.tabs-content
    div.content.active(id="oci_estatutos")
      include ./oci_estatutos.pug
    div.content(id="oci_personal")
      include ./oci_personal.pug
    div.content(id="oci_actasreuniones")
      include ./oci_actasreuniones.pug
    div.content(id="oci_memoria")
      include ./oci_memoria.pug
