extends layout

block mainContent
  div.mainContent
  h2 Plantillas
  ul.tabs(data-tab, id="tabsPlantillas")
    li.tab-title.active
      a(href="#plantillas_oci") Oci
    li.tab-title
      a(href="#plantillas_auditorias") Auditorias
    li.tab-title
      a(href="#plantillas_controles") Controles
    li.tab-title
      a(href="#plantillas_protocolos") Protocolos
    li.tab-title
      a(href="#plantillas_formacion") Formación
  div.tabs-content
    div.content.active(id="plantillas_oci")
      include ./plantillas_oci.pug
    div.content(id="plantillas_auditorias")
      include ./plantillas_auditorias.pug
    div.content(id="plantillas_controles")
      include ./plantillas_controles.pug
    div.content(id="plantillas_protocolos")
      include ./plantillas_protocolos.pug
    div.content(id="plantillas_formacion")
      include ./plantillas_formacion.pug
